<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <title>To Do List</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">WIW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <br />
  <br />

  <div style="margin-left: 5%">
    <br>

    <!-- Tabel 1 -->
    <div style="display: inline-block; ">
      <h3>TABEL PASIEN</h3>
      <!-- TABEL1 -->
      <table align="left" border="1" class="table" style="text-align: center;">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">NO</th>
                  <th scope="col">NIK</th>
                  <th scope="col">NAMA</th>
                  <th scope="col">TEMPAT</th>
                  <th scope="col">TANGGAL LAHIR</th>
                  <th scope="col">GENDER</th>
                  <th scope="col">EMAIL</th>
                  <th scope="col">TELEPON</th>
                  <th scope="col">AKSI</th> <!-- Tambah kolom untuk tombol aksi -->
              </tr>
          </thead>
          <tbody>
              DATA_TABEL
          </tbody>
      </table>

      <br>
      <!-- Tombol untuk menambah data pasien -->
      <button class="btn btn-success" id="btnTambah">Tambah</button>
    </div>

    <!-- Form untuk menambah dan mengedit data pasien -->
    <form id="formPasien" style="display: none;">
      <input type="hidden" id="idPasien" name="idPasien">
      <div class="form-group">
          <label for="nik">NIK:</label>
          <input type="text" class="form-control" id="nik" name="nik">
      </div>
      <div class="form-group">
          <label for="nama">Nama:</label>
          <input type="text" class="form-control" id="nama" name="nama">
      </div>
      <div class="form-group">
          <label for="tempat">Tempat Lahir:</label>
          <input type="text" class="form-control" id="tempat" name="tempat">
      </div>
      <div class="form-group">
          <label for="tl">Tanggal Lahir:</label>
          <input type="date" class="form-control" id="tl" name="tl">
      </div>
      <div class="form-group">
          <label for="gender">Gender:</label>
          <select class="form-control" id="gender" name="gender">
              <option value="Laki-laki">Laki-laki</option>
              <option value="Perempuan">Perempuan</option>
          </select>
      </div>
      <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email">
      </div>
      <div class="form-group">
          <label for="telp">Telepon:</label>
          <input type="text" class="form-control" id="telp" name="telp">
      </div>
      <button type="button" class="btn btn-primary" id="btnSimpan">Simpan</button>
      <button type="button" class="btn btn-secondary" id="btnBatal">Batal</button>
    </form>



  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>